p,
h3 {
  margin: 0;
}
/* section.offers */
/*******************************************************************/
section.offers {
  overflow: hidden;
  text-align: center;
  padding: 50px 0;
  background: #ccc url(../img/polygon_bg.jpg);
  margin-bottom: 200px;
}
section.offers h2 {
  display: inline-block;
  color: #56c3a2;
  font: 34px Georgia, sans-serif;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 3px solid #78c09c;
}
/* .o-items */
.o-items {
  position: relative;
  overflow: hidden;
}
/* .o-left */
.o-left {
  float: left;
  width: 50%;
}
.o-left .curve .circle {
  right: -6px;
  left: auto;
}
/* .o-right */
.o-right {
  float: right;
  width: 50%;
}
/* .o-item */
.o-item {
  position: relative;
  z-index: 2;
  cursor: pointer;
  margin-bottom: 15px;
}
.o-item p {
  font: 15px Georgia, sans-serif;
  height: 3.5em;
  padding-top: 12px;
  overflow: hidden;
}
.o-item:hover h3 {
  color: #d96683;
}
.o-item:hover .line {
  background-color: #d96683;
}
.o-item:hover .line:after {
  background-color: #d96683;
}
.o-item:hover .circle {
  z-index: 1;
  background-color: #d96683;
}
.o-item:hover .circle:after {
  border-color: #78c09c;
}
/* .curve */
.curve {
  position: relative;
  width: 100%;
}
.curve .line {
  height: 2px;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: #78c09c;
}
.curve .line:after {
  content: "";
  width: 100px;
  height: 2px;
  position: absolute;
  background-color: #78c09c;
}
.curve .circle {
  width: 11px;
  height: 11px;
  position: absolute;
  left: -6px;
  top: -5px;
  z-index: 2;
  border-radius: 50%;
  background-color: #78c09c;
}
.curve .circle:after {
  content: "";
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  z-index: 1;
  border: 2px solid #d96683;
  border-radius: 50%;
}
.o-item {
  width: 70%;
}
.o-item h3 {
  min-height: 55px;
  margin-bottom: 5px;
  padding: 0;
  white-space: nowrap;
  font: 17px/55px Georgia, sans-serif;
  background: url(../img/icons-sprite.png) no-repeat;
  text-transform: uppercase;
  color: #2fa781;
}
/*.ol-item*/
.ol-item {
  text-align: left;
  float: left;
}
.ol-item h3 {
  padding: 0 0 0 70px;
  background-position: -7px 0;
}
/*.or-item*/
.or-item {
  text-align: right;
  float: right;
}
.or-item p {
  text-align: left;
}
.or-item h3 {
  padding: 0 82px 0 0;
  background-position: 104% 0;
}
/* .or-a1 */
.or-a1 .line:after {
  top: 17px;
  left: -96px;
  transform: rotate(-20deg);
}
.or-a1 .circle {
  left: -100px;
  top: 31px;
}
.or-a1 h3 {
  padding-right: 72px;
  background-position: 106% -63px;
}
/* .or-a2 */
.or-a2 h3 {
  padding-right: 75px;
  background-position: 104% -203px;
}
/* .or-a3 */
.or-a3 h3 {
  background-position: 102% -327px;
}
/* .or-a4 */
.or-a4 h3 {
  background-position: 108% -474px;
}
.or-a4 .line:after {
  top: -17px;
  left: -96px;
  transform: rotate(20deg);
}
.or-a4 .circle {
  top: -40px;
  left: -100px;
}
/* .ol-a1 */
.ol-a1 .line:after {
  top: 17px;
  right: -96px;
  transform: rotate(20deg);
}
.ol-a1 .circle {
  top: 31px;
  right: -100px !important;
}
/* .ol-a2 */
.ol-a2 h3 {
  background-position: -7px -132px;
  padding-left: 54px;
}
/* .ol-a3 */
.ol-a3 h3 {
  background-position: -7px -267px;
}
/* .ol-a4 */
.ol-a4 .line:after {
  top: -17px;
  right: -96px;
  transform: rotate(-20deg);
}
.ol-a4 .circle {
  top: -40px;
  right: -100px !important;
}
.ol-a4 h3 {
  background-position: -7px -407px;
  padding-left: 60px;
}
/*.polygon*/
.polygon,
.polygon img,
.polygon svg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.polygon img {
  margin: auto;
  display: block;
  width: 333px;
  height: auto;
}
/* classes */
/*******************************************************************/
.container {
  max-width: 1100px;
  margin: auto;
}
